<%- include("templates/header") %>
<h1>Hello, <%= name %></h1>
<div>
    <img src="<%= imgUrl %>" alt="Random photo">
</div>
<div>
    <a href="/logout"><button>Logout</button></a>
</div>
<%- include("templates/footer") %>